In [ ]:
fileHandle = open('myfile.txt')

In [ ]:
fileHandle.close()

In [ ]:
#reading the content in TomSawyer file
fileHandle = open('TomSawyer.txt')
content = fileHandle.read()
print(content)
fileHandle.close()

In [ ]:
#we can also use the readlines method
fileHandle = open('TomSawyer.txt')
lines = fileHandle.readlines()
for line in lines:
    print(line)
fileHandle.close()

### Reading files in Python! 
##### Pay attention to:
- If the file doesn’t exist or is not in the path specified python will throw an error
- Content from the file is read as String use type conversion when needed 
- Remember to close the file once you’re done!

## Writing to a file

In [ ]:
#To write data to a file you need to:
#Open a file in writing mode:

fileHandle = open('myfile2.txt', 'w')

#Use the write method to send data to the file:

fileHandle.write("Stuff needs to be stored permanently\n")

#Close file when you’re done!

fileHandle.close()

### When Writing to a file
#### Pay attention to:
- If the file already exists, it will be rewritten, if it doesn’t it will be created
- The write method takes only strings as arguments, __so when needed use type conversion__ 
- Remember to close the file when done!

### Open file options
- See slides

In [ ]:
with open ('myfile_d.txt', 'w') as f:
    a,b=4,6
    f.write(str(a)+"\n")
    f.write(str(b)+"\n")
#no need to call f.close() - f closes automatically 
# once the with block is exited

In [ ]:
print ("Opening myfile.txt")
with open ('myfile_d.txt', 'r+') as f:
    num1 = eval(f.readline())
    print (num1, type (num1))
    num2 = eval(f.readline())
    print (num2, type (num1))
    
    product = num1 * num2
    f.write("\n")
    f.write(str(product))
    #rewind
    f.seek(0)
    data=f.read()
    print (data)

In [ ]:
a=0
with open('myfile2.txt', 'r+') as f2:
    a=f2.read()
    f2.write("\nMore Stuff needs to be stored permanently")
print(a)

# Dictionarys

In [1]:
acronyms={} # create empty dictionary
print (acronyms)

{}

In [2]:
acronyms['lol'] = "laughing out loud"
print (acronyms)

{'lol': 'laughing out loud'}

In [3]:
len(acronyms)

1

In [4]:

acronyms['tty'] = "talk to you later"
acronyms['bfn'] = "bye for now"
print (acronyms)

{'lol': 'laughing out loud', 'tty': 'talk to you later', 'bfn': 'bye for now'}

In [5]:
len(acronyms)

3

In [6]:
acronyms['lol'] = "Laughing Out Loud"
print (acronyms)

{'lol': 'Laughing Out Loud', 'tty': 'talk to you later', 'bfn': 'bye for now'}

In [7]:
acronyms['lol'] = "Laughing Out Loud"
print (acronyms)

{'lol': 'Laughing Out Loud', 'tty': 'talk to you later', 'bfn': 'bye for now'}

In [8]:
len(acronyms)

3

In [9]:
acronyms = {'bfn': 'bye for now', 'tty': 'talk to you later', 'lol': 'laughing out loud'}

In [7]:
#Example: Store the employee records indexed by SS#
Employees = {456965079: 'David Smith', 
             823878356: 'Lisa Miller',
             813756744: 'Pat Murphy'  }

In [9]:
if 456965079 in Employees:
    print(Employees[456965079])
else:
    print("This SSN doesn't exist in our data base")

David Smith

In [11]:
x=456965080
if x in Employees:
    print(Employees[x])
else:
    print("This SSN doesn't exist in our data base")
    name=input("Enter Employees name\n")
    Employees[x]= name
    print(f"We just added {name} to our database")

Employees

This SSN doesn't exist in our data base
Enter Employees name
Jerry E
We just added Jerry E to our database

{456965079: 'David Smith',
 823878356: 'Lisa Miller',
 813756744: 'Pat Murphy',
 456965080: 'Jerry E'}

In [13]:
def checkE(x, data):
    if x in data:
        print(data[x])
    else:
        print("This SSN doesn't exist in our data base")
        name=input("Enter Employees name\n")
        data[x]= name
        print(f"We just added {name} to our database")

In [14]:
checkE(899,Employees)

This SSN doesn't exist in our data base
Enter Employees name
Tom Hanks
We just added Tom Hanks to our database

In [15]:
Employees

{456965079: 'David Smith',
 823878356: 'Lisa Miller',
 813756744: 'Pat Murphy',
 456965080: 'Jerry E',
 899: 'Tom Hanks'}

In [16]:
newd=[1234, 56, 87]
for i in newd:
    checkE(i,Employees)
Employees

This SSN doesn't exist in our data base
Enter Employees name
Jerry H
We just added Jerry H to our database
This SSN doesn't exist in our data base
Enter Employees name
Jerry Y
We just added Jerry Y to our database
This SSN doesn't exist in our data base
Enter Employees name
Jerry Z
We just added Jerry Z to our database

{456965079: 'David Smith',
 823878356: 'Lisa Miller',
 813756744: 'Pat Murphy',
 456965080: 'Jerry E',
 899: 'Tom Hanks',
 1234: 'Jerry H',
 56: 'Jerry Y',
 87: 'Jerry Z'}

In [20]:
Employees2 = {456965079: {'name':'David Smith','salary':100000}, 
             823878356: {'name':'Lisa Miller','salary':120000}
            }

In [21]:
len(Employees2)

2

In [22]:
print(Employees2)

{456965079: {'name': 'David Smith', 'salary': 100000}, 823878356: {'name': 'Lisa Miller', 'salary': 120000}}

In [27]:
max(Employees2[823878356]['salary'] ,  Employees2[456965079]['salary'])

120000

In [ ]:
max (Employees2)

In [11]:
len(Employees)

3

In [12]:
print(Employees)

{456965079: 'David Smith', 823878356: 'Lisa Miller', 813756744: 'Pat Murphy'}

In [14]:
print(*Employees)

456965079 823878356 813756744

In [15]:
Employees[813756744]

'Pat Murphy'

In [16]:
Employees[823878356]

'Lisa Miller'

In [1]:
# Another example
inventory = {'apples':430, 'pears':217, 'oranges':525, 'bananas':312}

In [8]:
print(inventory)

{'apples': 430, 'pears': 217, 'oranges': 525, 'bananas': 312}

In [9]:
inventory.keys()

dict_keys(['apples', 'pears', 'oranges', 'bananas'])

In [10]:
inventory.values()

dict_values([430, 217, 525, 312])

In [11]:
inventory.items()

dict_items([('apples', 430), ('pears', 217), ('oranges', 525), ('bananas', 312)])

In [15]:
inventory.get('grape',0)

0

In [18]:
inventory.get('apples',0) + inventory.get('grapes',0)

430

In [19]:
for akey in inventory.keys(): 
      print("Got key", akey, "which maps to value", inventory[akey])

Got key apples which maps to value 430
Got key pears which maps to value 217
Got key oranges which maps to value 525
Got key bananas which maps to value 312

In [6]:
print(inventory['bananas'])

312

In [7]:
inventory['pears'] + 300

517

In [25]:
print (inventory)
inventory['bananas']= inventory['bananas']  + 200

{'apples': 430, 'pears': 217, 'oranges': 525, 'bananas': 312}

In [29]:
inventory = {'apples':430, 'pears':217, 'oranges':525, 'bananas':312}
print (inventory)

inventory['bananas'] += 200
print (inventory)

{'apples': 430, 'pears': 217, 'oranges': 525, 'bananas': 312}
{'apples': 430, 'pears': 217, 'oranges': 525, 'bananas': 512}

In [28]:
print (inventory)

{'apples': 430, 'pears': 217, 'oranges': 525, 'bananas': 512}

### Mergeing Dictionaries

In [28]:
# Mergeing Dictionaries with **
inventory1 = {'apples': 430, 'bananas': 312}
inventory2=  {'oranges': 525, 'pears': 217}
inventory  =  {**inventory1, **inventory2}
print(inventory)

{'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

In [1]:
# Mergeing Dictionaries with **
inventory1 = {'apples': 430, 'bananas': 312}
inventory2=  {'oranges': 525, 'pears': 217}
inventory  =   inventory1 | inventory2
print(inventory)

{'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

In [ ]:
test1={}

In [5]:
test1['a']=input("Enter Age\n")

Enter Age
44

In [6]:
print(test1)

{'a': '44'}

In [36]:
# Mergeing Dictionaries with update method
inventory1 = {'apples': 430, 'bananas': 312}
inventory2=  {'oranges': 525, 'pears': 217}
inventory  =  {}
inventory.update(inventory1)
print(inventory)
inventory.update(inventory2)

print(inventory)

{'apples': 430, 'bananas': 312}
{'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

### Iterating through dictionaries or dictionary transversal

In [37]:
for item in inventory:
    print (item)

apples
bananas
oranges
pears

In [38]:
for item in inventory.keys():
    print (item)

apples
bananas
oranges
pears

In [39]:
for item in inventory.values():
    print (item)

430
312
525
217

In [40]:
for item in inventory.items():
    print (item)

('apples', 430)
('bananas', 312)
('oranges', 525)
('pears', 217)

In [43]:
for item in inventory.items():
    key,value = item
    print (value)

430
312
525
217

In [44]:
for item in inventory.items():
    key,value = item
    print (value, "of value at this key",key)

430 of value at this key apples
312 of value at this key bananas
525 of value at this key oranges
217 of value at this key pears

In [45]:
for key,value in inventory.items():
    print (value, "of value at this key",key)

430 of value at this key apples
312 of value at this key bananas
525 of value at this key oranges
217 of value at this key pears

### Dictionary Comprehension

In [46]:
#remember list comprehension
squares=[i**2 for i in [1,2,3]]

print(squares)

[1, 4, 9]

In [47]:
# dictionary version
xyz = {'x': 1, 'y': 2, 'z': 3}
# Square each value in the dictionary
square_xyz = {i:j**2 for (i,j) in xyz.items()}
print(square_xyz)

{'x': 1, 'y': 4, 'z': 9}

In [50]:
# dictionary version
xyz = {'x': 1, 'y': 2, 'z': 3}
# Square each value in the dictionary
square_xyz = {"squared_"+i:j**2 for (i,j) in xyz.items()}
print(square_xyz)

{'squared_x': 1, 'squared_y': 4, 'squared_z': 9}

In [48]:
temperatures = [88, 94,102, 99, 101,98,95,100]
# print convert temperatures 

[(t-32) * 5/9 for t  in temperatures]

[31.11111111111111,
 34.44444444444444,
 38.888888888888886,
 37.22222222222222,
 38.333333333333336,
 36.666666666666664,
 35.0,
 37.77777777777778]

In [49]:
temperatures ={"t1":88, "t2":94,"t3":102,"t4":99, 
               "t5":101,"t6": 98,"t7":95,"t8":100}
# print convert temperatures 

{i:(j - 32) * 5/9   for (i,j) in temperatures.items()}

{'t1': 31.11111111111111,
 't2': 34.44444444444444,
 't3': 38.888888888888886,
 't4': 37.22222222222222,
 't5': 38.333333333333336,
 't6': 36.666666666666664,
 't7': 35.0,
 't8': 37.77777777777778}

In [ ]:
if 456965079 in Employees:
    print(Employees[456965079])
else:
    print("This SSN doesn't exist in our data base")

In [17]:
# Dictionaries are mutable objects so you should expect the same behavior we learned with lists.

opposites = {'up': 'down', 'right': 'wrong', 'true': 'false'}
alias = opposites
print(alias is opposites)
alias['right'] = 'left'
print(opposites['right'])

True
left

In [18]:
print(alias is opposites)

True

In [19]:
#If you really want to create a copy of the dictionary use the dictionary copy method:

opposites = {'up': 'down', 'right': 'wrong', 'true': 'false'}
acopy = opposites.copy()
print(acopy is opposites)
acopy['right'] = 'left'
print(opposites['right'])

False
wrong

In [20]:
acopy is opposites

False

## Sparse Matrices

In [21]:
matrix =[[0,0,0,1,0],
         [0,0,0,0,0],
         [0,2,0,0,0],
         [0,0,0,0,0],
         [0,0,0,3,0]]

In [22]:
print (matrix)

[[0, 0, 0, 1, 0], [0, 0, 0, 0, 0], [0, 2, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 3, 0]]

In [23]:
matrix2 = {(0, 3): 1, (2, 1): 2, (4, 3): 3}

In [24]:
matrix2

{(0, 3): 1, (2, 1): 2, (4, 3): 3}

In [25]:
print (matrix2[0,3])

1

In [33]:
print (matrix2.get((2,1),0))

2

In [51]:
print(matrix2.get((9, 3), "entry does not exist"))

entry does not exist